# Build и временни файлове
bin/
obj/
*.dll
*.pdb
*.exe
*.msi
*.zip
*.sqlite

# Настройки на Visual Studio
.vs/
*.vscode/
*.suo
*.user
*.sln.docstates

# Отделни настройки
*.bak
*.log
*.cache

# Пакети и зависимости
/packages/
*.npm-debug.log
node_modules/
*.lock

# Изключете файловете със секретни данни (например appsettings.json с чувствителна информация)
appsettings.json
appsettings.Development.json

# Изключете базата данни (ако използвате локална база данни)
*.mdf
*.ldf

# Visual Studio Code specific
.vscode/

# Rider specific
.idea/
*.sln.iml

# Mac OS specific
.DS_Store

# Тествайки
testresults/

# Не използвайте файловете на миграции, ако използвате Code-First подход за Entity Framework Core
*DbContextModelSnapshot.cs
*DbContextModel.cs

# Не използвайте файловете на миграции, ако използвате Code-First подход за Entity Framework Core
*DbContextModelSnapshot.cs
*DbContextModel.cs
