@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Потвърждение на имейл";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<div class="text-center">
    <partial name="_StatusMessage" model="Model.StatusMessage" />
</div>
