@page
@model LoginWithRecoveryCodeModel
@{
    ViewData["Title"] = "Потвърждение на код за възстановяване";
}

<h1>@ViewData["Title"]</h1>
<hr />
<p>
    Заявихте вход с код за възстановяване. Този вход няма да бъде запомнен, докато не предоставите
    код от приложение за аутентикация при вход или докато не деактивирате двуфакторната идентификация и влезете отново.
</p>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.RecoveryCode" class="form-control" autocomplete="off" placeholder="Код за възстановяване" />
                <label asp-for="Input.RecoveryCode" class="form-label"></label>
                <span asp-validation-for="Input.RecoveryCode" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Вход</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
