@page
@model LogoutModel
@{
    ViewData["Title"] = "Излизане";
}

<header>
    <h1>@ViewData["Title"]</h1>
    @if (User.Identity?.IsAuthenticated ?? false)
    {
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
            <button type="submit" class="btn btn-primary">Излез</button>
        </form>
    }
    else
    {
        <p>Вие успешно излязохте от приложението.</p>
    }
</header>
