@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Потвърждение за възстановяване на парола";
}

<h1>@ViewData["Title"]</h1>
<p>
    Вашата парола е възстановена успешно. Моля, <a asp-page="./Login">натиснете тук, за да влезете</a>.
</p>
