@model SportUniTrack.Models.ApplicationUser

@{
    ViewData["Title"] = "Create";
}

<h1 class="mt-5">Създаване на потребител</h1>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3">
                    <label for="Id" class="form-label">Идентификационен номер</label>
                    <input asp-for="Id" class="form-control" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="FirstName" class="form-label">Име</label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="LastName" class="form-label">Фамилия</label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="Role" class="form-label">Роля</label>
                    <input asp-for="Role" class="form-control" />
                    <span asp-validation-for="Role" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="FacultyNumber" class="form-label">Факултетен номер</label>
                    <input asp-for="FacultyNumber" class="form-control" />
                    <span asp-validation-for="FacultyNumber" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="Speciality" class="form-label">Специалност</label>
                    <input asp-for="Speciality" class="form-control" />
                    <span asp-validation-for="Speciality" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Създай</button>
            </form>
        </div>
    </div>
</div>

<div class="mt-3">
    <a asp-action="Index" class="btn btn-secondary">Обратно към списъка</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
