@model SportUniTrack.Models.Borrowing

@{
    ViewData["Title"] = "Добави наем";
}

<h1>Добави наем</h1>

<h4>Всички наемания</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentId" class="control-label"></label>
                <input asp-for="EquipmentId" class="form-control" />
                <span asp-validation-for="EquipmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BorrowedAt" class="control-label"></label>
                <input asp-for="BorrowedAt" class="form-control" />
                <span asp-validation-for="BorrowedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReturnedAt" class="control-label"></label>
                <input asp-for="ReturnedAt" class="form-control" />
                <span asp-validation-for="ReturnedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добави" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Обратно към списъка</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
